:host {
  display: block;
  background-color: #dcdcdc;

  nav {
    display: flex;
    gap: 2rem;
    height: 80px;
    padding: 1rem 2rem;
    border-bottom: 6px solid #03aa9c;
    align-items: center;
    font-size: 1.15rem;
    font-weight: 500;

    .logo {
      flex: 0 0 auto;
      height: 100%;
    }

    .navbar-right {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      flex: 0 1 300px;

      .user {
        display: flex;
        align-items: center;
        gap: .5rem;
      }
    }
  }

  .date {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }

  ul {
    display: flex;

    li {
      @media screen and (min-width: 576px) {
        flex: 0 1 200px;
      }
    }

    @media screen and (max-width: 575px) {
      flex-direction: column;
    }
  }
}
